<!DOCTYPE html>
<html>
  <head>
    <title>Tabela nutricional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
      function atualizaOption(){
        if($('#option_select').val() == 'calorias'){
          $('#div-outros').hide()
          $('#div-calorias').show()
        }else {
          $('#div-outros').show()
          $('#div-calorias').hide()
        }
      }

      function atualizaTabela(){
        var tipo_busca = document.getElementById('option_select').value
        var rota = ''
        var dados = {}

        if(tipo_busca != 'calorias'){
          rota = document.getElementById('menos-mais').value+'_'+tipo_busca
          dados[tipo_busca] = document.getElementById('valor').value
        }else{
          rota = tipo_busca
          dados.menor_caloria = document.getElementById('valor-mais').value 
          dados.maior_caloria = document.getElementById('valor-menos').value
        }

        var rota_completa = `https://basedealimentosapi-production-12a4.up.railway.app/${rota}`

        $.ajax({
            url: rota_completa,
            method: 'POST', 
            data: dados,
            success: function(response) {
                $('#minha-tabela').html(response);
            },
        });
      }
    </script>
  </head>
 
  <body>      
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <select class="form-control" id="option_select" onchange="atualizaOption()">
          <option value="calorias" selected>Calorias</option>
          <option value="carbo">Carboidrados</option>
          <option value="prot">Proteínas</option>
          <option value="gord">Gorduras</option>
        </select>
    
        <div id="div-calorias">
          <input class="form-control" type="number" id="valor-mais" value="0">
          <input class="form-control" type="number" id="valor-menos" value="0">
        </div>
    
        <div id="div-outros" style="display: none">
          <select class="form-control" id="menos-mais">
            <option value="mais">Mais</option>
            <option value="menos">Menos</option>
          </select>
          <input class="form-control" type="number" id="valor" value="0">
        </div>
    
        <button class="form-control" onclick="atualizaTabela()">Clique aqui</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
      <div class="col-10" style="margin-top: 4%">
        <hr/>
        <h4> <strong>Alimentos</strong> </h4>
        <hr/>
        <div id="minha-tabela"></div>
      </div>
    </div> 
  </body>
</html>
