<!DOCTYPE html>
<html>
  <head>
    <title>Tabela nutricional</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    
    <style>
      /* Estilos para o tema claro */
      body {
          background-color: #f2f2f2;
          color: #333;
      }

      /* Estilos para o tema escuro */
      body.dark-mode {
          background-color: #333;
          color: #f2f2f2;
      }

      header {
        background-color: #198754;
        padding: 5px;
        text-align: center;
      }
  
      img {
        width: 100px;
        height: auto;
      }

      #tabela.dark-mode tr{
        background-color: #333;
        color: #f2f2f2;
      }

      #tabela tr{
        background-color: #f2f2f2;
        color: #333;
      }

      .caixas {
        background-color: silver;
      }
      
      .infos{
        width: 80%;
        margin: 0px auto;
      }

    </style>

    <script>
      function atualizaOption(){
        var option_select = $('#option_select').val()
        if(option_select == 'calorias'){
          $('#div-outros').hide()
          $('#div-nome').hide()
          $('#div-calorias').show()
        }else if(option_select == 'nome') {
          $('#div-outros').hide()
          $('#div-nome').show()
          $('#div-calorias').hide()
        } else{
          $('#div-outros').show()
          $('#div-nome').hide()
          $('#div-calorias').hide()
        }
      }

      function atualizaTabela(){
        var tipo_busca = document.getElementById('option_select').value
        var rota = ''
        var dados = {}

        if(tipo_busca == 'nome'){
          rota = 'alimentos_nome'
          dados.nome = document.getElementById('nome').value
        }else if(tipo_busca == 'calorias'){
          rota = tipo_busca
          dados.menor_caloria = document.getElementById('valor-mais').value 
          dados.maior_caloria = document.getElementById('valor-menos').value
        }else{
          rota = document.getElementById('menos-mais').value+'_'+tipo_busca
          dados[tipo_busca] = document.getElementById('valor').value
        }

        var rota_completa = `https://basedealimentosapi-production-12a4.up.railway.app/${rota}`

        $.ajax({
            url: rota_completa,
            method: 'POST', 
            data: dados,
            success: function(response) {
                $('#minha-tabela').html(response);
                if($('body').css('color') != $('#tabela').css('color')){
                  $('#tabela').toggleClass('dark-mode');
                }

            },
        });style="color: white"
      }

      function atualizaTema() {
        $("body").toggleClass("dark-mode");
        $('#tabela').toggleClass('dark-mode');
      }
    </script>
  </head>
 
  <body> 
    <header>
      <h2 class="text-center" style="color: white">
        <strong>Info - Nutri</strong>
      </h2>
      <!--img src="./alimentos.png" alt="Logo"-->
    </header>
    
    <div style="margin-left: 5%; margin-right: 5%">
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" onchange="atualizaTema()" id="tema">
        <label class="form-check-label" for="themeSwitch">Alternar Tema</label>
      </div>
  
      <div class="row d-flex justify-content-center">
        <div class="col-md-10" style="margin-top: 1%">
          <select class="form-select" id="option_select" onchange="atualizaOption()">
            <option value="carbo">Carboidratos</option>
            <option value="prot">Proteínas</option>
            <option value="gord">Gorduras</option>
            <option value="calorias" selected>Calorias</option>
            <option value="nome">Nome</option>
          </select>
        </div>
      </div>
  
      <div id="div-calorias">
        <div class="row d-flex justify-content-center">
          <div class="col-md-5">
            <label for="valor-mais">Menor caloria:</label>
            <input class="form-control" type="number" id="valor-mais" min="0" value="0">
          </div>
          
          <div class="col-md-5">
            <label for="valor-menos">Maior caloria:</label>
            <input class="form-control" type="number" id="valor-menos" min="0" max="900" value="0">
          </div>
        </div>
      </div>
    
      <div id="div-outros" style="display: none">
        <div class="row d-flex justify-content-center">
          <div class="col-md-5">
            <label for="menos-mais">Pesquisar por:</label>
            <select class="form-select" id="menos-mais">
              <option value="mais">Maior</option>
              <option value="menos">Menor</option>
            </select>
          </div>
          <div class="col-md-5">
            <label for="valor">Valor:</label>
            <input class="form-control" type="number" id="valor" min="0" max="100" value="0">
          </div>
        </div>
      </div>
  
      <div id="div-nome" style="display: none">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <label for="nome">Nome do alimento:</label>
            <input class="form-control" type="text" id="nome" value="">
          </div>
        </div>
      </div>
        
      <br>
      <div class="text-center">
        <button type="submit" id="button-click" onclick="atualizaTabela()" class="btn btn-outline-success">Pesquisar</button>
      </div>
  
      <div class="row d-flex justify-content-center text-center">
        <div class="col-10" style="margin-top: 4%">
          <hr/>
          <h4> <strong>Alimentos (100g)</strong> </h4>
          <hr/>
          <div id="minha-tabela"></div>
        </div>
      </div> 
       <div class="infos">
      <p >
        Encontre a tabela nutricional de macros nutrientes de um determinado alimento
      </p>
      <p >
         OBS: As informações são relativas a 100 gramas de qualquer alimento.
      </p>
      <ul>
        <li>
          Liste as informações de alimentos Buscando por range de calorias, menor que X e maior que Y.
        </li>
        <li>
          Liste as informações de alimentos que tem proteina maior que N numero
        </li>
        <li>
          Liste as informações de alimentos que tem proteina menor que N numero
        </li>
        <li>
          Liste as informações de alimentos que tem carboidratos maior que N numero
        </li>
        <li>
          Liste as informações de alimentos que tem carboidratos menor que N numero
        </li>
         <li>
          Liste as informações de alimentos que tem gordura maior que N numero
        </li>
         <li>
          Liste as informações de alimentos que tem gordura menor que N numero
        </li>
         </li>
         <li>
          Liste as informações de alimentos Buscando por nome
        </li>
      </ul>
     </div>
    </div >
   
  </body>
</html>
