<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <base target="_top">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>                      
  </head>
 
  <body>
    <div class="container">
      <h4>Envie uma mensagem</h4>            
      <hr><br>
      <form method="Post" action="/calorias">
        Autor:<input type="text" size=64 name="author" value="" required><br>
        Mensagem:<input type="text" size=64 name="message" value="" required><br>
        <br>     
        <input type="submit">
      </form>

      <h4>Alimentos</h4>      
      <div class="row">
        <table>
        <thead>
          <tr>              
              <th style="word-wrap: break-word; width: 40%">Nome</th>
              <th style="word-wrap: break-word; width: 15%">Calorias</th>
              <th style="word-wrap: break-word; width: 15%">Proteínas</th>
              <th style="word-wrap: break-word; width: 15%">Gorduras Totais</th>
              <th style="word-wrap: break-word; width: 15%">Carboidrados</th>              
          </tr>
        </thead>
        <tbody id="table-body">          
        </tbody>
      </table>
      </div>
    </div>
  </body>  
</html>
